header {
   display: flex;
   justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.1);
}

header>img.cloud-logo {
   width: 50px;
   height: 50px;
   margin-right: 15px;
}