
.get-ingredient{
    display: flex;
    flex-direction: column;


    
}
.input-section{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-section>input{
    min-width: 300px;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}   

.input-section>button{
    padding: 10px 20px;
    font-size: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.item{
      font-family: "Rubik Storm", system-ui;
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      font-style: normal;

}

.item-title{
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 10px;
}

.items-list{
     margin-left: 50px;
}